.start{
    margin-left: 5%;
    margin-bottom: 50%;
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: black;
    
}
*{
    background-color: black;
    color: aliceblue;
    
}
.button5 {border-radius: 50%;}
.button {
    background-color: #d1275a; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  }
  .text{
    border: 3px solid lightgray;
	border-radius: 10px;
  }